<html>
	<head>
		<link	rel="stylesheet" href="style/gojimo-demo.css" type="text/css" />
		<title>
			GOJIMO: demo
		</title>
	</head>
	<body>
		<% @quals.each_with_index do |qual, idx| %>
			<div class="qual">
				<h1 class="row<%= idx&1 %>"><%= qual.full_name %></h1>
				<ul>
					<% qual.subjs.sort.each do |subj| %>
						<% if subj.colour.nil? or subj.colour == '' %>
							<li><%= subj.title %></li>
						<% else %>
							<li style="background-color:<%= subj.colour %>"><%= subj.title %></li>
						<% end %>
					<% end %>
				</ul>
			</div>
		<% end %>
	</body>
</html>